:root {
  --font-gothic: "맑은 고딕", "Malgun Gothic", sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font12-line-height: 20px;
  --font12-letter-spacing: -0.5px;
  --font13-line-height: 20px;
  --font13-letter-spacing: -0.5px;
  --font14-line-height: 20px;
  --font14-letter-spacing: -1px;
  --font15-line-height: 22px;
  --font15-letter-spacing: -1px;
  --font16-line-height: 24px;
  --font16-letter-spacing: -1px;
  --font18-line-height: 26px;
  --font18-letter-spacing: -1px;
  --font20-line-height: 28px;
  --font20-letter-spacing: -1px;
  --font24-line-height: 34px;
  --font24-letter-spacing: -1.5px;
  --font36-line-height: 50px;
  --font36-letter-spacing: -3px;
}
